<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>사진 올리기</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>카메라 찍기</string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat ExtraBold.ttf</string>
		<string>SpoqaHanSansNeo Regular.otf</string>
		<string>SpoqaHanSansNeo Bold.otf</string>
	</array>
</dict>
</plist>
